@model HtmlString
@{
    var totalPage = ViewBag.totalPage as int?;
    if (totalPage == null)
    {
        totalPage = 1;
    }
    var cityList = ViewBag.cityList as HtmlString;
    if (cityList == null)
    {
        cityList = new HtmlString("[]");
    }
    var cityId = ViewBag.cityId as Guid?;
    if (!cityId.HasValue)
    {
        cityId = Guid.Empty;
    }
    var searchName = ViewBag.searchName as HtmlString;

}


<script src="~/Scripts/jquery-ui/jquery-ui.min.js"></script>
<script src="~/Scripts/selectboxit/jquery.selectBoxIt.min.js"></script>


<!-- JavaScripts initializations and stuff -->
<script src="~/Scripts/xenon-custom.js"></script>

<div id="MonitorRestaurant-part" class="row">
    <div class="row">
        <div class="col-sm-12">
            <div class="panel panel-default">
                <div class="panel-heading">


                    <div class="panel-options">

                        <a href="#" data-toggle="panel">
                            <span class="collapse-icon">&ndash;</span>
                            <span class="expand-icon">+</span>
                        </a>

                        <a href="#" data-toggle="remove">
                            &times;
                        </a>
                    </div>

                </div>
                <div class="panel-body">

                    <form id="serachThing" class="form-horizontal  col-sm-12">
                        <div class="form-group ">
                            <label class="control-label col-sm-2" for="selectCity">
                                选择城市
                            </label>
                            <div class="col-sm-3">
                                <select class="form-control" name="cityId" id="selectCity" data-bind="options:MonitorRestaurantBody.CityList,optionsText:'Name',optionsValue:'ID',value:MonitorRestaurantBody.CityID"></select>
                            </div>
                        </div>
                        <div class="form-group-separator"></div>

                        <div class="form-group ">
                            <label class="control-label col-sm-2" for="searchName">
                                名称查找
                            </label>
                            <div class="col-sm-3">
                                <input id="searchName" name="restName" class="form-control" data-bind="value:MonitorRestaurantBody.SearchName" />
                            </div>
                        </div>
                        <div class="form-group-separator"></div>
                        <div class="form-group ">
                            <label class="control-label col-sm-2" for="reflesh">
                            </label>
                            <div class="col-sm-3">
                                @*rgb(200, 191, 231)*@
                                @*rgb(64, 128, 128)*@
                                <input style="background-color: #408080" id="reflesh" class="btn btn-info" data-bind="click: MonitorRestaurantBody.SearchAction" value="搜索" />
                            </div>
                        </div>

                    </form>
                    <div class="row col-sm-12">

                        <table id="MonitorRestaurantTable" class="table table-model-2 table-hover ">
                            <thead>
                                <tr>
                                    <th>
                                        <input type="checkbox" class="cbr">
                                    </th>
                                    <th>#</th>
                                    <th>Name</th>
                                    <th>Version</th>
                                    <th>CateringSystem</th>
                                    <th>DockMode</th>
                                </tr>
                            </thead>
                            <tbody class="middle-align" data-bind="foreach: MonitorRestaurantBody.MonitorRestaurantList">
                                <tr data-bind="click:MonitorRestaurantBody.SelectRest.bind($data)">
                                    <td>
                                        <input type="checkbox" data-bind="value: ID" class="cbr">
                                    </td>
                                    <td data-bind="text:$index()+1"></td>
                                    <td data-bind="text:Name"></td>
                                    <td data-bind="text:Version"></td>
                                    <td data-bind="text:CateringSystem"></td>
                                    <td data-bind="text:DockMode() == 1? '米客版':'对接版'"></td>
                                </tr>
                            </tbody>
                        </table>

                    </div>
                    <div class="row">
                        <div class="col-md-12 text-center" data-bind="template:'page-template'">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div id="MonitorTable-part" class="row">
    <div class="row">
        <div class="col-sm-12">
            <div class="panel panel-default">
                <div class="panel-heading">

                    <h3 class="panel-title">Tabbed panel</h3>
                    <div class="panel-options">
                        <ul class="nav nav-tabs">
                            <li class="active">
                                <a href="#tab-table" data-toggle="tab">餐桌列表</a>
                            </li>
                            <li>
                                <a href="#tab-table" data-toggle="tab">链接日志</a>
                            </li>
                            <li>
                                <a href="#tab-table" data-toggle="tab">操作日志</a>
                            </li>
                        </ul>

                    </div>

                </div>
                <div class="panel-body">
                    <div id="tab-table">
                        <div class="row" data-bind="foreach: MonitorTableBody.monitorTableList">

                            <div class="col-sm-3 ">

                                @*rgb(111,183,255)*@
                                @*rgb(128, 128, 255)*@
                                <div data-bind="style:{ backgroundColor : IsDelete() ? '#8080FF' : '#408080'  }" class="xe-widget xe-progress-counter xe-progress-counter-info">

                                    <div class="xe-background">
                                        <i class="linecons-paper-plane"></i>
                                    </div>

                                    <div class="xe-upper">
                                        <div class="xe-icon">
                                            <i class="fa fa-cutlery"></i>
                                        </div>
                                        <div class="xe-label">
                                            <strong class="num" data-bind="html:TableName"></strong>
                                        </div>


                                    </div>

                                    <div class="xe-lower">
                                        <div class="border"></div>
                                        <span data-bind="html:TableType"></span>
                                        @*<button class="btn btn-white ">操作日志</button>*@

                                        <a href="#" class="row">
                                            <i class="fa-retweet"> 操作日志</i>
                                        </a>

                                        <a href="#" class="row">
                                            <i class="fa-retweet">连接日志</i>
                                        </a>
                                    </div>

                                </div>


                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12 text-center" data-bind='template:{ name:"tablePage-template",
                                                             templateOptions: { TablePage : MonitorTableBody.TablePage(),
                                                                        totalPage:  MonitorTableBody.totalPage(),
                                                                       PageAction: MonitorTableBody.PageAction} }'>
                            </div>
                        </div>
                    </div>


                </div>
            </div>
        </div>
    </div>
</div>



<script type="text/html" id="tablePage-template">
    <ul class="pagination">
        <li data-bind="style: {  display: $item.TablePage > 1 ? 'inline' :'none'},click:function(){$item.PageAction(1-$item.TablePage)}">
            <a href="javascript:void(0)"><i class="fa-angle-left"></i></a>
        </li>
        <li data-bind="style: {  display:  $item.TablePage > 3 ?'inline' :'none'},click:function(){$item.PageAction(-3)}"><a href="javascript:void(0)">...</a></li>
        <li data-bind="style: {  display:  $item.TablePage > 2 ?'inline' :'none'} ,click:function(){$item.PageAction(-2)}"><a data-bind="html:$item.TablePage - 2" href="javascript:void(0)"></a></li>
        <li data-bind="style: {  display:  $item.TablePage > 1 ?'inline' :'none'},click:function(){$item.PageAction(-1)}"><a data-bind="html:$item.TablePage - 1" href="javascript:void(0)"></a></li>

        <li data-bind="style: {  display:$item.TablePage > 0? 'inline' :'none'}" class="active"><a href="javascript:void(0)" data-bind="html:$item.TablePage"></a></li>

        <li data-bind="style: {  display:  $item.TablePage + 1 <= $item.totalPage ?'inline' :'none'},click:function(){$item.PageAction(1)}"><a data-bind="html:$item.TablePage + 1 " href="javascript:void(0)"></a></li>
        <li data-bind="style: {  display:  $item.TablePage + 2 <= $item.totalPage  ?'inline' :'none'},click:function(){$item.PageAction(2)}"><a data-bind="html:$item.TablePage + 2 " href="javascript:void(0)"></a></li>
        <li data-bind="style: {  display:  $item.TablePage + 3 <= $item.totalPage  ?'inline' :'none'},click:function(){$item.PageAction(3)}"><a href="javascript:void(0)">...</a></li>
        <li data-bind="style: {  display:$item.TablePage + 1 <= $item.totalPage  ? 'inline' :'none'},click:function(){$item.PageAction($item.totalPage  - $item.TablePage)}">
            <a href="javascript:void(0)"><i class="fa-angle-right"></i></a>
        </li>
    </ul>
</script>


<script>

    var MonitorRestaurantBody;
    var MonitorTableBody;
    $(document).ready(function ($) {
        $('#MonitorTable-part').hide();
        MonitorTableBody = {
            monitorTableList: ko.observableArray(),
            SelectRest: ko.observable(''),
            TablePage: ko.observable(0),
            totalPage: ko.observable(0),
            PageAction: function (jumpNum) {
                console.log(jumpNum);
                var pageNum = MonitorTableBody.TablePage() + jumpNum;
                var path = window.mainModel.map() + '/Tables';
                var param = {
                    pageNum: pageNum,
                    restId: MonitorTableBody.SelectRest(),
                }
                $.post(path, param, function (result) {
                    MonitorTableBody.monitorTableList('');
                    if (result.Flag) {
                        MonitorTableBody.totalPage(result.PageCount);
                        MonitorTableBody.TablePage(pageNum);
                        MonitorTableBody.monitorTableList(ko.mapping.fromJS(result.Data)());
                    } else {
                        window.mainModel.AlertError(result.Message);
                    }

                });

            },
        };

        MonitorRestaurantBody = {
            MonitorRestaurantList: ko.mapping.fromJS(@Model),
            TotalPage: ko.observable(@totalPage),
            CityList: ko.mapping.fromJS(@cityList),
            CityID: ko.observable('@cityId'),
            SearchName: ko.observable('@searchName'),
            SearchAction: function () {
                var jumpNum = 1 - window.mainModel.pageNum();
                var param = $('#serachThing').serialize();

                window.mainModel.ReloadBranch(jumpNum, param);

            },
            SelectRest: function (rest) {
                MonitorTableBody.TablePage(1);
                var path = window.mainModel.map() + '/Tables';
                var param = {
                    pageNum: MonitorTableBody.TablePage(),
                    restId: rest.ID(),
                }
                $.post(path, param, function (result) {
                    MonitorTableBody.monitorTableList('');
                    if (result.Flag) {
                        $('#MonitorTable-part').show();
                        MonitorTableBody.SelectRest(rest.ID());
                        MonitorTableBody.totalPage(result.PageCount);
                        MonitorTableBody.monitorTableList(ko.mapping.fromJS(result.Data)());
                    }
                });
            }
        }


        ko.applyBindings(MonitorTableBody, $("#MonitorTable-part")[0]);
        ko.applyBindings(MonitorRestaurantBody, $("#MonitorRestaurant-part")[0]);
        window.mainModel.totalPage(MonitorRestaurantBody.TotalPage());
        window.mainModel.checkTable('MonitorRestaurantTable');

        $("#selectCity").selectBoxIt().on('open', function () {
            // Adding Custom Scrollbar
            $(this).data("selectBox-selectBoxIt").list.perfectScrollbar();
        });

    });


</script>

<script src="~/Scripts/xenon-custom.js"></script>
