@model HtmlString
@{
    var totalPage = ViewBag.totalPage as int?;
    if (totalPage == null)
    {
        totalPage = 1;
    }
    var cityList = ViewBag.cityList as HtmlString;
    if (cityList == null)
    {
        cityList = new HtmlString("[]");
    }
    var cityId = ViewBag.cityId as Guid?;
    if (!cityId.HasValue)
    {
        cityId = Guid.Empty;
    }
    var searchName = ViewBag.searchName as HtmlString;

}


<script src="~/Scripts/jquery-ui/jquery-ui.min.js"></script>
<script src="~/Scripts/selectboxit/jquery.selectBoxIt.min.js"></script>



<div id="MonitorRestaurant-part" class="row">
    <div class="row">
        <div class="col-sm-12">
            <div class="panel panel-default">
                <div class="panel-heading">


                    <div class="panel-options">

                        <a href="#" data-toggle="panel">
                            <span class="collapse-icon">&ndash;</span>
                            <span class="expand-icon">+</span>
                        </a>

                        <a href="#" data-toggle="remove">
                            &times;
                        </a>
                    </div>

                </div>
                <div class="panel-body">

                    <form id="serachThing" class="form-horizontal  col-sm-12">
                        <div class="form-group ">
                            <label class="control-label col-sm-2" for="selectCity">
                                选择城市
                            </label>
                            <div class="col-sm-3">
                                <select class="form-control" name="cityId" id="selectCity" data-bind="options:MonitorRestaurantBody.CityList,optionsText:'Name',optionsValue:'ID',value:MonitorRestaurantBody.CityID"></select>
                            </div>
                        </div>
                        <div class="form-group-separator"></div>

                        <div class="form-group ">
                            <label class="control-label col-sm-2" for="searchName">
                                名称查找
                            </label>
                            <div class="col-sm-3">
                                <input id="searchName" name="restName" class="form-control" data-bind="value:MonitorRestaurantBody.SearchName" />
                            </div>
                        </div>
                        <div class="form-group-separator"></div>
                        <div class="form-group ">
                            <label class="control-label col-sm-2" for="reflesh">
                            </label>
                            <div class="col-sm-3">
                                @*rgb(200, 191, 231)*@
                                @*rgb(64, 128, 128)*@
                                <input style="background-color: rgb(200, 191, 231)" id="reflesh" class="btn btn-info" data-bind="click: MonitorRestaurantBody.SearchAction" value="搜索" />
                            </div>
                        </div>
                        <div class="form-group-separator"></div>
                        <div class="form-group ">
                            <label class="control-label col-sm-2" for="RestState">
                            </label>
                            <div class="col-sm-10">
                                <button data-bind="click:MonitorRestaurantBody.RestAction.bind( $data,'RestState')" id="RestState" class="btn btn-info">重置所有状态</button>
                            </div>
                        </div>

                    </form>
                    <div class="row col-sm-12">

                        <table id="MonitorRestaurantTable" class="table table-model-2 table-hover ">
                            <thead>
                                <tr>
                                    <th>
                                        <input type="checkbox" class="cbr">
                                    </th>
                                    <th>#</th>
                                    <th>Name</th>
                                    <th>State</th>
                                    <th>Version</th>
                                    <th>CateringSystem</th>
                                    <th>DockMode</th>
                                </tr>
                            </thead>
                            <tbody class="middle-align" data-bind="foreach: MonitorRestaurantBody.MonitorRestaurantList">
                                <tr data-bind="click:MonitorRestaurantBody.SelectRest.bind($data)">
                                    <td>
                                        <input type="checkbox" data-bind="value: ID" class="cbr">
                                    </td>
                                    <td data-bind="text:$index()+1"></td>
                                    <td data-bind="text:Name"></td>
                                    <td>
                                        <div data-bind="text:ConnectState() ? '链接' :  '断开' ,attr:{class:ConnectState()?'label label-secondary':'label label-warning'}"></div>
                                    </td>
                                    <td data-bind="text:Version"></td>
                                    <td data-bind="text:CateringSystem"></td>
                                    <td data-bind="text:DockMode() == 1? '米客版':'对接版'"></td>
                                </tr>
                            </tbody>
                        </table>

                    </div>
                    <div class="row">
                        <div class="col-md-12 text-center" data-bind="template:'page-template'">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



<div id="MonitorConnectStep-part" class="row" data-bind="style: {  display: MonitorConnectStepBody.MonitorConnectStepList().length == 0 ? 'none' :''}">


    <div class="row">
        <div class="col-md-12 text-center" data-bind='template:{ name:"tablePage-template",
                                                             templateOptions: { TablePage : MonitorConnectStepBody.TablePage(),
                                                                        totalPage:  MonitorConnectStepBody.totalPage(),
                                                                       PageAction: MonitorConnectStepBody.PageAction} }'>
        </div>
    </div>
    <div class="timeline-centered" data-bind="foreach: MonitorConnectStepBody.MonitorConnectStepList">

        <article class="timeline-entry" data-bind="attr: { class: ConnectType() == 0 ? 'timeline-entry begin':ConnectType() != 1 && ConnectType() != 3?'timeline-entry left-aligned':'timeline-entry'}">

            <div class="timeline-entry-inner">
                <time class="timeline-time" data-bind="attr:{datetime: SockCreateTime}"><span data-bind="html:CreateTime">06:30 PM</span>  </time>

                <div data-bind="attr: {class: MonitorConnectStepBody.colorList[ConnectType()]}">
                    <i data-bind="attr: {class: MonitorConnectStepBody.icolist[ConnectType()]}"></i>
                </div>

                <div class="timeline-label" data-bind="style: {  display: ConnectType() == 0 ? 'none' :''}">
                    <h2 data-bind="text:ConnectName"></h2>
                    <p data-bind="text:IpAddress"></p>
                </div>
            </div>

        </article>

    </div>

</div>


<script type="text/html" id="tablePage-template">
    <ul class="pagination">
        <li data-bind="style: {  display: $item.TablePage > 1 ? 'inline' :'none'},click:function(){$item.PageAction(1-$item.TablePage)}">
            <a href="javascript:void(0)"><i class="fa-angle-left"></i></a>
        </li>
        <li data-bind="style: {  display:  $item.TablePage > 3 ?'inline' :'none'},click:function(){$item.PageAction(-3)}"><a href="javascript:void(0)">...</a></li>
        <li data-bind="style: {  display:  $item.TablePage > 2 ?'inline' :'none'} ,click:function(){$item.PageAction(-2)}"><a data-bind="html:$item.TablePage - 2" href="javascript:void(0)"></a></li>
        <li data-bind="style: {  display:  $item.TablePage > 1 ?'inline' :'none'},click:function(){$item.PageAction(-1)}"><a data-bind="html:$item.TablePage - 1" href="javascript:void(0)"></a></li>

        <li data-bind="style: {  display:$item.TablePage > 0? 'inline' :'none'}" class="active"><a href="javascript:void(0)" data-bind="html:$item.TablePage"></a></li>

        <li data-bind="style: {  display:  $item.TablePage + 1 <= $item.totalPage ?'inline' :'none'},click:function(){$item.PageAction(1)}"><a data-bind="html:$item.TablePage + 1 " href="javascript:void(0)"></a></li>
        <li data-bind="style: {  display:  $item.TablePage + 2 <= $item.totalPage  ?'inline' :'none'},click:function(){$item.PageAction(2)}"><a data-bind="html:$item.TablePage + 2 " href="javascript:void(0)"></a></li>
        <li data-bind="style: {  display:  $item.TablePage + 3 <= $item.totalPage  ?'inline' :'none'},click:function(){$item.PageAction(3)}"><a href="javascript:void(0)">...</a></li>
        <li data-bind="style: {  display:$item.TablePage + 1 <= $item.totalPage  ? 'inline' :'none'},click:function(){$item.PageAction($item.totalPage  - $item.TablePage)}">
            <a href="javascript:void(0)"><i class="fa-angle-right"></i></a>
        </li>
    </ul>
</script>


<script>

    var MonitorConnectStepBody;
    var MonitorRestaurantBody;
    $(document).ready(function ($) {
        $('#MonitorConnectStep-part').hide();
        MonitorConnectStepBody = {
            MonitorConnectStepList: ko.observableArray(),
            SelectRest: ko.observable(''),
            TablePage: ko.observable(0),
            totalPage: ko.observable(0),
            icolist: ['fa-briefcase', 'fa-paper-plane-o', 'fa-bookmark-o', 'fa-frown-o', 'fa-sun-o', 'fa-upload', 'fa-warning'],
            colorList: ['timeline-icon', 'timeline-icon timeline-bg-success', 'timeline-icon timeline-bg-warning', 'timeline-icon timeline-bg-success', 'timeline-icon fa-location-arrow', 'timeline-icon timeline-bg-warning', 'timeline-icon timeline-bg-red'],
            PageAction: function (jumpNum) {
                console.log(jumpNum);
                var pageNum = MonitorConnectStepBody.TablePage() + jumpNum;
                var path = window.mainModel.map() + '/ConnectSteps';
                var param = {
                    pageNum: pageNum,
                    restId: MonitorConnectStepBody.SelectRest(),
                }
                $.post(path, param, function (result) {
                    MonitorConnectStepBody.MonitorConnectStepList('');
                    if (result.Flag) {
                        MonitorConnectStepBody.totalPage(result.PageCount);
                        MonitorConnectStepBody.TablePage(pageNum);
                        MonitorConnectStepBody.MonitorConnectStepList(ko.mapping.fromJS(result.Data)());
                    } else {
                        window.mainModel.AlertError(result.Message);
                    }

                });

            },
        }

        MonitorRestaurantBody = {
            MonitorRestaurantList: ko.mapping.fromJS(@Model),
            TotalPage: ko.observable(@totalPage),
            CityList: ko.mapping.fromJS(@cityList),
            CityID: ko.observable('@cityId'),
            SearchName: ko.observable('@searchName'),
            SearchAction: function () {
                var jumpNum = 1 - mainModel.pageNum();
                var param = $('#serachThing').serialize();

                window.mainModel.ReloadBranch(jumpNum, param);

            },
            RestAction: function () {
                var path = window.mainModel.map() + '/RefreshRestAction';
                $.post(path, function (result) {
                    window.mainModel.Alert(result);
                    if (result.Flag) {
                        window.mainModel.ReloadBranch();
                    }
                });
            },
            SelectRest: function (rest) {
                $('#MonitorConnectStep-part').show();
                var path = window.mainModel.map() + '/ConnectSteps';
                MonitorConnectStepBody.TablePage(1);
                var param = {
                    pageNum: MonitorConnectStepBody.TablePage(),
                    restId: rest.ID(),
                }
                $.post(path, param, function (result) {
                    MonitorConnectStepBody.MonitorConnectStepList('');
                    if (result.Flag) {
                        $('#MonitorConnectStep-part').show();
                        MonitorConnectStepBody.SelectRest(rest.ID());
                        MonitorConnectStepBody.totalPage(result.PageCount);
                        MonitorConnectStepBody.MonitorConnectStepList(ko.mapping.fromJS(result.Data)());
                    }
                });
            }
        }

        ko.applyBindings(MonitorConnectStepBody, $("#MonitorConnectStep-part")[0]);
        ko.applyBindings(MonitorRestaurantBody, $("#MonitorRestaurant-part")[0]);
        window.mainModel.totalPage(MonitorRestaurantBody.TotalPage());
        window.mainModel.checkTable('MonitorRestaurantTable');

        $("#selectCity").selectBoxIt().on('open', function () {
            // Adding Custom Scrollbar
            $(this).data("selectBox-selectBoxIt").list.perfectScrollbar();
        });

    });


</script>

<script src="~/Scripts/xenon-custom.js"></script>
