


@{
    var updateJournal = @ViewBag.UpdateJournal as HtmlString;
}

<div class="modal-dialog" id="modal-dialog">
    <div class="modal-content">

        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="modal-title">标题</h4>
        </div>

        <div class="modal-body">

      <div class="form-horizontal">
                <div class="row">

                    <div class="form-group">
                        <label for="ProjectName" class="col-sm-3 control-label">ProjectName</label>
                        <div class="col-md-9">
                            <input class="form-control autogrow" id="ProjectName" data-bind="value: addJournal.ProjectName, uniqueName: true">
                        </div>

                    </div>
                    <div class="form-group-separator"></div>

                    <div class="form-group">
                        <label for="Path" class="col-sm-3 control-label">Path</label>
                        <div class="col-md-9">
                            <input class="form-control autogrow" id="Path" data-bind="value: addJournal.Path, uniqueName: true">
                        </div>

                    </div>
                    <div class="form-group-separator"></div>
</div>
            </div>
        </div>


        <div class="modal-footer">
            <button type="button" class="btn btn-white" data-dismiss="modal">Close</button>
            <button type="button" class="btn btn-info" data-bind="click: SaveData">Save changes</button>
        </div>
    </div>
</div>


<script>
    var Journalbody = {
        addJournal: ko.mapping.fromJS(@updateJournal),
        SaveData: function () {
            var path = window.mainModel.map() + '/Edit';
            $.post(path, ko.mapping.toJS(Journalbody.addJournal), function (result) {
                window.mainModel.Alert(result);
                jQuery('#system-dialog').modal('hide');
                window.mainModel.ReloadBranch();
            });
        }
    };

    $(document).ready(function () {

        ko.applyBindings(Journalbody, $("#modal-dialog")[0]);
    });



</script>
