@model HtmlString

<script>


    var JournalBody;
    $(document).ready(function ($) {

        JournalBody = {
            JournalList: ko.mapping.fromJS(@Model),
            getIndex: function (index) { return index + 1 }
        }
        ko.applyBindings(JournalBody, $("#Journal-part")[0]);

        window.mainModel.checkTable('JournalTable');
    });


</script>



<div id="Journal-part" class="row">
    <div class="row">
        <div class="col-sm-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <div class="col-xs-12">
                        <div class="btn-group" data-bind="template:'sysbtn-Group-template'"></div>
                    </div>
                </div>
                <div class="panel-body">
                    <table id="JournalTable" class="table ">
                        <thead>
                            <tr>
                                <th>
                                    <input type="checkbox" class="cbr">
                                </th>
                                <th>#</th>
                                <th>ProjectName</th>
                                <th>Path</th>
                                <th>CreateTime</th>
                            </tr>
                        </thead>
                        <tbody class="middle-align" data-bind="foreach: JournalBody.JournalList">
                            <tr>
                                <td>
                                    <input type="checkbox" data-bind="value: ID" class="cbr">
                                </td>
                                <td data-bind="text:$index()+1"></td>
                                <td data-bind="text:ProjectName"></td>
                                <td data-bind="text:Path"></td>
                                <td data-bind="text:CreateTime"></td>
                            </tr>
                        </tbody>
                    </table>
                    <div class="row">
                        <div class="col-xs-12 text-center" data-bind="template:'page-template'">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="~/Scripts/xenon-custom.js"></script>