

@model HtmlString

<script>


    var AccountBody;
    $(document).ready(function ($) {

        AccountBody = {
            AccountList: ko.mapping.fromJS(@Model),
            getIndex: function (index) { return index + 1 }
        }
        ko.applyBindings(AccountBody, $("#Account-part")[0]);

        window.mainModel.checkTable('AccountTable');
    });


</script>



<div id="Account-part" class="row">
    <div class="row">
        <div class="col-sm-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <div class="col-xs-12">
                       <div class="pull-right"><div class="btn-group" data-bind="template:'sysbtn-Group-template'"></div> </div>
                    </div>
                </div>
                <div class="panel-body">
                    <table id="AccountTable" class="table ">
                        <thead>
                            <tr>
                                <th>
                                    <input type="checkbox" class="cbr">
                                </th>
                                <th>#</th>
                              <th>LoginID</th>
                                <th>Name</th>
                              <th>CreateTime</th>
                              <th>LastLoginTime</th>
                              <th>State</th>
                            </tr>
                        </thead>
                        <tbody class="middle-align" data-bind="foreach: AccountBody.AccountList">
                            <tr>
                                <td>
                                    <input type="checkbox" data-bind="value: ID" class="cbr">
                                </td>
                                <td data-bind="text:$index()+1"></td>
                                <td data-bind="text:LoginID"></td>
                                <td data-bind="text:Name"></td>
                                <td data-bind="text:CreateTime"></td>
                                <td data-bind="text: LastLoginTime"></td>
                                <td>
                                    <div data-bind="text:State() ? '启用' :  '禁用' ,attr:{class:LastLoginTime()?'label label-secondary':'label label-red'}"></div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="~/Scripts/xenon-custom.js"></script>