

@model HtmlString
@{
    var totalPage = ViewBag.totalPage as int?;
    if (totalPage == null)
    {
        totalPage = 1;
    }
}

<script>


    var WorkRecordBody;
    $(document).ready(function ($) {
        $('#record-Detail').hide();
        $('#comment-Detail').hide();
        WorkRecordBody = {
            TotalPage: ko.observable(@totalPage),
            WorkRecordList: ko.mapping.fromJS(@Model),
            WorkCommentList: ko.observableArray(),
            RecordId: ko.observable(),
            Plan: ko.observable(),
            Journal: ko.observable(),
            Summary: ko.observable(),
            SelectRecordFunc: function (comment) {
                $('#record-Detail').show();
                WorkRecordBody.RecordId(comment.ID());
                WorkRecordBody.Journal(comment.Journal());
                WorkRecordBody.Summary(comment.Summary());
                WorkRecordBody.Plan(comment.Plan());

                var path = window.mainModel.map() + '/Details';
                $.post(path, { id: WorkRecordBody.RecordId() }, function (data) {
                    WorkRecordBody.WorkCommentList(ko.mapping.fromJS(data)());
                    $('#comment-Detail').show();
                });

            },
        }
        ko.applyBindings(WorkRecordBody, $("#WorkRecord-part")[0]);
        window.mainModel.totalPage(WorkRecordBody.TotalPage());

        window.mainModel.checkTable('WorkRecordTable');
    });


</script>



<div id="WorkRecord-part" class="row">
    <div class="row">
        <div class="col-sm-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <div class="col-xs-12">
                        <div class="btn-group" data-bind="template:'sysbtn-Group-template'"></div>
                    </div>
                </div>
                <div class="panel-body">
                    <table id="WorkRecordTable" class="table ">
                        <thead>
                            <tr>
                                <th>
                                    <input type="checkbox" class="cbr">
                                </th>
                                <th>#</th>
                                <th>Journal</th>
                                <th>Summary</th>
                                <th>Plan</th>
                                <th>CreateTime</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody class="middle-align" data-bind="foreach: WorkRecordBody.WorkRecordList">
                            <tr>
                                <td>
                                    <input type="checkbox" data-bind="value: ID" class="cbr">
                                </td>
                                <td data-bind="text:$index()+1,click: WorkRecordBody.SelectRecordFunc.bind($data)"></td>
                                <td data-bind="text:Journal"></td>
                                <td data-bind="text:Summary"></td>
                                <td data-bind="text:Plan"></td>
                                <td data-bind="text:CreateTime"></td>
                                <td>
                                    <button class="btn btn-secondary" data-bind="click: WorkRecordBody.SelectRecordFunc.bind($data)">详细</button>
                                </td>
                            </tr>
                        </tbody>
                    </table>

                    <div class="row">
                        <div class="col-md-12 text-center" data-bind="template:'page-template'">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="row">
        <div class="col-sm-6">
            <div id="record-Detail" class="panel panel-default">
                <div class="panel-body">
                    <div data-bind="html: WorkRecordBody.Journal"> </div>
                    <hr />
                    <div data-bind="html: WorkRecordBody.Summary"> </div>
                    <hr />
                    <div data-bind="html: WorkRecordBody.Plan"> </div>
                    <hr />
                </div>
            </div>
        </div>

        <div class="col-sm-6">
            <div id="comment-Detail" class="panel panel-default">
                <div class="panel-body">

                    <div data-bind="foreach: WorkRecordBody.WorkCommentList">
                        <div data-bind="html: Description"></div>
                        <hr />
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="~/Scripts/xenon-custom.js"></script>