@{
    Layout = null;
}
<html>
<head>
    <title>Hello React</title>
</head>
<body>
    <div id="content"></div>

    @Scripts.Render("~/reactJs")
    @System.Web.Optimization.Scripts.Render("~/React/Tutorial.jsx")
</body>
</html>