
@section LeftMenu{
    <ul class="am-list admin-sidebar-list" data-bind="foreach: {data: rootModel.branchs,as: 'one'}">
        <li class="admin-parent">
            <a class="am-cf am-collapsed" data-bind="attr:{ 'data-am-collapse': '{target: \'#collapse-nav'+$index() +'\' }'}">
                <span class="am-icon-file"></span>
                <!-- ko text: Title --> data-am-collapse="{target: '#collapse-nav'}" <!-- /ko -->
                <span class="am-icon-angle-right am-fr am-margin-right"></span>
            </a>
            <ul data-bind="foreach: {data: Branches ,as: 'two'}, attr:{ id : 'collapse-nav'+$index() }" class="am-list admin-sidebar-sub am-collapse">
                <li>
                    <a data-bind="click: rootModel.branchAction.bind(two)">
                        <span class="am-icon-bug"></span>
                        <!-- ko text: Title --> <!-- /ko -->
                    </a>
                </li>
            </ul>
        </li>
    </ul>

    <div data-bind="if :rootModel.title" class="am-panel am-panel-default admin-sidebar-panel">
        <div class="am-panel-bd">
            <p>
                <span class="am-icon-bookmark"></span>
                <!-- ko text: rootModel.title --> <!-- /ko -->
            </p>

        </div>
    </div>
}


<div class="admin-content">

    <div class="am-cf am-padding">
        <div class="am-fl am-cf">
            <strong class="am-text-primary am-text-lg">首页</strong>
            <!-- ko if: rootModel.title-->
            /<small data-bind="text: rootModel.title"></small>
            <!-- /ko -->
        </div>
    </div>
    <small class="am-u-sm-10" data-bind="text: rootModel.description"></small>

    <div data-bind="html: rootModel.details"></div>

</div>

<div id="left-Canvas" class="am-offcanvas ">
    <div class="am-offcanvas-bar am-offcanvas-bar-flip">
        <!-- 你的内容 -->
        <br />
        <br />
        <br />
        <br />
        <br />
        <input type="hidden" id="hideParam" />
        <ul class="am-list am-list-border" data-bind="foreach: rootModel.selectBtns()">
            <li style="background-color: black">
                <a data-bind="attr: {id: Id }" href="javascript:;">
                    <i class="am-icon-cog"></i>
                    <!-- ko text:Name --> <!-- /ko -->
                </a>
            </li>
        </ul>

    </div>
</div>
<div class="am-modal am-modal-confirm" tabindex="-1" id="Delete-confirm">
    <div class="am-modal-dialog">
        <div class="am-modal-hd">米迹</div>
        <div class="am-modal-bd">
            你，确定要删除这条记录吗？
        </div>
        <div class="am-modal-footer">
            <span class="am-modal-btn" data-am-modal-cancel>取消</span>
            <span class="am-modal-btn" data-am-modal-confirm>确定</span>
        </div>
    </div>
</div>

@section PageScript{
    @System.Web.Optimization.Scripts.Render("~/Scripts/Init/Main.js")
    <script>
        var rootModel = null;
        function HomeModel() {
            var self = this;
            self.pageNum = ko.observable(1);
            self.branchs = ko.observableArray();
            self.map = ko.observable(),
            self.selectBtns = ko.observableArray([]),
            self.title = ko.observable("主页"),
            self.description = ko.observable("什么都没留下 =_="),
            self.details = ko.observable(),
            self.init = function() {
                $.post(mainUtility.postUrl, {
                    AreaName: 'Init',
                    ActionName: 'LeftMenu'
                }, function(data) {
                    if (data.Flag) {
                        self.branchs(data.Fruit);
                    }
                });
            };
            self.branchAction = function (two) {
                mainUtility.load();
                self.pageNum(1);
                self.title(two.Title);
                self.description(two.Description || '什么都没留下 =_=');
                self.selectBranch = two;

                self.details('');
                self.map('/One/' + two.AreaName + '/' + two.ActionName);

                var pageBtns = JSON.parse(two.ActionButtons);
                var i = 0;
                self.selectBtns([]);
                while (i < pageBtns.length) {
                    var operatBtn = mainUtility.buttons[pageBtns[i]];
                    if (operatBtn.Sider) {
                        self.selectBtns.push(operatBtn);
                    }
                    i++;
                }

                $.get(self.map() + '/index', { pageNum: self.pageNum }, function(data) {
                    self.details('');
                    self.details(data);
                });
            }
        }

        var layer_index;
        $(function() {
            rootModel = new HomeModel();
            rootModel.init();
            mainUtility.init();
            ko.applyBindings(rootModel);
        });
    </script>



}