@model List<Eagle.ViewModel.ShowBranch>
@{
    ViewBag.title = "米迹";
}

@section MainMenu{
    @Html.React("LeftMenu", new
{
    initialData = Model,
})

}


<div class="page-title">
    <div class="title-env">
        <h1 class="title"></h1>
        <p class="description"></p>
    </div>
</div>


@section PageScript{
    @System.Web.Optimization.Scripts.Render("~/Modular/Home/Main.jsx")
    @Html.ReactInitJavaScript()
}
