@{
    var updateLetter = @ViewBag.UpdateLetter as HtmlString;
}
<link href="~/Content/Css/xenon-core.css" rel="stylesheet" />
<div class="modal-dialog" id="modal-dialog">
    <div class="modal-content">

        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="modal-title">发送消息</h4>
        </div>

        <div class="modal-body">
            <div class="form-horizontal">
                <div class="row">
                    <div class="form-group">
                        <label for="Title" class="col-sm-3 control-label">Title</label>
                        <div class="col-md-9">
                            <input class="form-control " type="hidden" id="ID" placeholder="Write something about yourself" data-bind="value: addLetter.ID, uniqueName: true">
                            <input class="form-control " id="Title" data-bind="value: addLetter.Title, uniqueName: true">
                        </div>

                    </div>
                    <div class="form-group-separator"></div>
                    <div class="form-group">
                        <label for="Message" class="col-sm-3 control-label">Message</label>

                        <div class="col-md-9">
                            <textarea class="form-control " id="Message" placeholder="Write something about yourself" data-bind="value: addLetter.Message, uniqueName: true"></textarea>
                        </div>

                    </div>
                </div>
            </div>
        </div>

        <div class="modal-footer">
            <button type="button" class="btn btn-white" data-dismiss="modal">Close</button>
            <button type="button" class="btn btn-info" data-bind="click: SaveData">Save changes</button>
        </div>
    </div>
</div>


<script>
    var Letterbody = {
        addLetter: ko.mapping.fromJS(@updateLetter),
        SaveData: function () {
            var path = window.mainModel.map() + '/Edit';
            $.post(path, ko.mapping.toJS(Letterbody.addLetter), function (result) {
                window.mainModel.Alert(result);
                jQuery('#system-dialog').modal('hide');
                window.mainModel.ReloadBranch();
            });
        }
    };

    $(document).ready(function () {
        ko.applyBindings(Letterbody, $("#modal-dialog")[0]);
    });



</script>
