@model HtmlString
@{
    var weekPlan = ViewBag.WeekPlan as HtmlString;
    var totalPage = ViewBag.totalPage as int?;
    if (totalPage == null)
    {
        totalPage = 1;
    }
}

<script>


    var WeekTargetBody;
    $(document).ready(function ($) {
        $('#weekPlanDetail').hide();
        WeekTargetBody = {
            TotalPage: ko.observable(@totalPage),
            WeekComent: ko.observableArray(),
            WeekTargetList: ko.mapping.fromJS(@Model),
            currentWeeklyPlan: ko.mapping.fromJS(@weekPlan),
            icolist: ['fa-user', 'fa-paper-plane-o', 'fa-location-arrow'],
            colorList: ['cbp_tmicon timeline-bg-gray', 'cbp_tmicon timeline-bg-info', 'cbp_tmicon timeline-bg-success'],
            SelectTarget: function (data) {
                WeekTargetBody.currentWeeklyPlan.ID(data.ID());
                WeekTargetBody.currentWeeklyPlan.Description(data.Description());
                WeekTargetBody.currentWeeklyPlan.Target(data.Target());
                WeekTargetBody.currentWeeklyPlan.TargetTime(data.TargetTime());
                var path = window.mainModel.map() + '/Details';
                $('#weekPlanDetail').show();
                $.post(path, { targetId: WeekTargetBody.currentWeeklyPlan.ID() }, function (result) {
                    WeekTargetBody.WeekComent(ko.mapping.fromJS(result)());
                });
            }

        }
        ko.applyBindings(WeekTargetBody, $("#WeekTarget-part")[0]);
        window.mainModel.totalPage(WeekTargetBody.TotalPage());
        window.mainModel.checkTable('WeekTargetTable');
    });


</script>



<div id="WeekTarget-part" class="row">

    <div class="row">
        <div data-bind="foreach: WeekTargetBody.WeekTargetList">
            <div class="col-sm-6" data-bind="click: WeekTargetBody.SelectTarget">

                <div class="xe-widget xe-conversations">
                    <div class="xe-bg-icon">
                        <i class="linecons-comment"></i>
                    </div>
                    <div class="xe-header">
                        <div class="xe-icon">
                            <i class="linecons-comment"></i>
                        </div>
                        <div class="xe-label">
                            <h3>
                                <label data-bind="text: DepartmentName"></label>
                                <small data-bind="html: TargetTime() +' 周--创建时间:'+CreateTime()"></small>
                                <small data-bind="html: BeginTime() + '--'+ EndTime()"></small>
                            </h3>
                        </div>
                    </div>
                    <div class="xe-body">
                        <ul class="list-unstyled">
                            <li>
                                <div class="xe-comment-entry">
                                    <a href="#" class="xe-user-img">
                                        <img src="~/images/user-2.png" class="img-circle" width="40"/>
                                    </a>

                                    <div class="xe-comment">
                                        <a href="javascript:{0}" class="xe-user-name">
                                            <strong>本周目标</strong>
                                        </a>
                                        <p data-bind="text: Target">
                                        </p>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="xe-comment-entry">
                                    <a href="#" class="xe-user-img">
                                        <img src="~/images/user-5.png" class="img-circle" width="40"/>
                                    </a>

                                    <div class="xe-comment">
                                        <a href="javascript:{0}" class="xe-user-name">
                                            <strong>本周总结</strong>
                                            @*<span class="label label-secondary">5</span>*@
                                        </a>

                                        <p data-bind="text: Description">
                                        </p>
                                    </div>
                                </div>
                            </li>
                        </ul>

                    </div>
                    @*<div class="xe-footer">
                            <a href="#">View All</a>
                        </div>*@
                </div>

            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 text-center" data-bind="template:'page-template'">
        </div>
    </div>

    <div id="weekPlanDetail">
        <h4 data-bind="html: '周次: '+ WeekTargetBody.currentWeeklyPlan.TargetTime()">Other Blockquote Types</h4>
        <br />
        <div class="row">
            <div class="col-sm-6">
                <blockquote class="blockquote blockquote-success">
                    <p>目标:</p>
                    <p data-bind="html: WeekTargetBody.currentWeeklyPlan.Target"></p>
                </blockquote>
            </div>
            <div class="col-sm-6">
                <blockquote class="blockquote blockquote-black">
                    <p>总结:</p>
                    <p data-bind="html: WeekTargetBody.currentWeeklyPlan.Description"></p>
                </blockquote>
            </div>
        </div>



        <ul class="cbp_tmtimeline" data-bind="foreach: WeekTargetBody.WeekComent">

            <li>
                <time class="cbp_tmtime" data-bind="attr:{datetime: CreateTime}">
                    <span data-bind="html:CreateDay">06:30 PM</span>
                    <span data-bind="html:CreateTime">06:30 PM</span>
                </time>

                <div data-bind="attr: {class: WeekTargetBody.colorList[ConnectType()]}">
                    <i data-bind="attr: {class: WeekTargetBody.icolist[ConnectType()]}"></i>
                </div>

                <div class="cbp_tmlabel" data-bind="attr: {  class: ConnectType() == 1 ? 'cbp_tmlabel' :'cbp_tmlabel empty'}">
                    <p data-bind="text: Description"></p>
                </div>

            </li>

        </ul>
    </div>

</div>


<script src="~/Scripts/xenon-custom.js"></script>