@model HtmlString
@{
    var totalPage = ViewBag.totalPage as int?;
    if (totalPage == null)
    {
        totalPage = 1;
    }
    var cityList = ViewBag.cityList as HtmlString;
    if (cityList == null)
    {
        cityList = new HtmlString("[]");
    }
    var cityId = ViewBag.cityId as Guid?;
    if (!cityId.HasValue)
    {
        cityId = Guid.Empty;
    }
    var searchName = ViewBag.searchName as HtmlString;

}


<script src="~/Scripts/jquery-ui/jquery-ui.min.js"></script>
<script src="~/Scripts/selectboxit/jquery.selectBoxIt.min.js"></script>


<!-- JavaScripts initializations and stuff -->

<div id="MonitorRestaurant-part" class="row">
    <div class="row">
        <div class="col-sm-12">
            <div class="panel panel-default">
                <div class="panel-heading">


                    <div class="panel-options">

                        <a href="#" data-toggle="panel">
                            <span class="collapse-icon">&ndash;</span>
                            <span class="expand-icon">+</span>
                        </a>

                        <a href="#" data-toggle="remove">
                            &times;
                        </a>
                    </div>

                </div>
                <div class="panel-body">

                    <form id="serachThing" class="form-horizontal  col-sm-12">
                        <div class="form-group ">
                            <label class="control-label col-sm-2" for="selectCity">
                                选择城市
                            </label>
                            <div class="col-sm-3">
                                <select class="form-control" name="cityId" id="selectCity" data-bind="options:MonitorRestaurantBody.CityList,optionsText:'Name',optionsValue:'ID',value:MonitorRestaurantBody.CityID"></select>
                            </div>
                        </div>
                        <div class="form-group-separator"></div>

                        <div class="form-group ">
                            <label class="control-label col-sm-2" for="searchName">
                                名称查找
                            </label>
                            <div class="col-sm-3">
                                <input id="searchName" name="restName" class="form-control" data-bind="value:MonitorRestaurantBody.SearchName" />
                            </div>
                        </div>
                        <div class="form-group-separator"></div>
                        <div class="form-group ">
                            <label class="control-label col-sm-2" for="reflesh">
                            </label>
                            <div class="col-sm-3">
                                @*rgb(200, 191, 231)*@
                                @*rgb(64, 128, 128)*@
                                <input style="background-color: rgb(200, 191, 231)" id="reflesh" class="btn btn-info" data-bind="click: MonitorRestaurantBody.SearchAction" value="搜索" />
                            </div>
                        </div>
                        <div class="form-group-separator"></div>
                        <div class="form-group ">
                            <label class="control-label col-sm-2" for="RestState">
                            </label>
                            <div class="col-sm-10">
                                <button data-bind="click:MonitorRestaurantBody.RestAction.bind( $data,'RestState')" id="RestState" class="btn btn-secondary">检查状态</button>
                                <button data-bind="click:MonitorRestaurantBody.RestAction.bind($data, 'UpLog')" id="UpLog" class="btn btn-secondary">上传日志</button>
                                <button data-bind="click:MonitorRestaurantBody.RestAction.bind($data, 'Restart')" id="Restart" class="btn btn-orange">重启服务</button>
                            </div>
                        </div>
                    </form>
                    <div class="row col-sm-12">

                        <table id="MonitorRestaurantTable" class="table table-model-2 table-hover ">
                            <thead>
                                <tr>
                                    <th>
                                        <input type="checkbox" class="cbr">
                                    </th>
                                    <th>#</th>
                                    <th>Name</th>
                                    <th>State</th>
                                    <th>Version</th>
                                    <th>CateringSystem</th>
                                    <th>DockMode</th>
                                </tr>
                            </thead>
                            <tbody id="tabelBody" class="middle-align" data-bind="foreach: MonitorRestaurantBody.MonitorRestaurantList">
                                <tr>
                                    <td>
                                        <input type="checkbox" data-bind="value: ID" class="chbox cbr">
                                    </td>
                                    <td data-bind="text:$index()+1"></td>
                                    <td data-bind="text:Name"></td>
                                    <td>
                                        <div data-bind="text:ConnectState() ? '链接' :  '断开' ,attr: { class:ConnectState()?'label label-secondary':'label label-warning'}"></div>
                                    </td>
                                    <td data-bind="text:Version"></td>
                                    <td data-bind="text:CateringSystem"></td>
                                    <td data-bind="text:DockMode() == 1? '米客版':'对接版'"></td>
                                </tr>
                            </tbody>
                        </table>

                    </div>
                    <div class="row">
                        <div class="col-md-12 text-center" data-bind="template:'page-template'">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<script>

    var MonitorRestaurantBody;
    $(document).ready(function ($) {
        $('#MonitorConnectStep-part').hide();

        MonitorRestaurantBody = {
            MonitorRestaurantList: ko.mapping.fromJS(@Model),
            TotalPage: ko.observable(@totalPage),
            CityList: ko.mapping.fromJS(@cityList),
            CityID: ko.observable('@cityId'),
            SearchName: ko.observable('@searchName'),
            SearchAction: function () {
                var jumpNum = 1 - window.mainModel.pageNum();
                var param = $('#serachThing').serialize();

                window.mainModel.ReloadBranch(jumpNum, param);
            },
            RestAction: function (actionName) {
                var inputs = $('tbody .chbox:checked');
                if (inputs == null || inputs.length == 0) {
                    window.mainModel.AlertError('至少要选择一个餐厅!');
                    return;
                }
                if (inputs.length > 1) {
                    window.mainModel.AlertError('一次只能选择一个餐厅!');
                    return;
                }

                var path = window.mainModel.map() + '/' + actionName;
                var restId = $(inputs[0]).val();
                var param = {
                    restId: restId,
                }
                $.post(path, param, function (result) {
                    window.mainModel.Alert(result);
                });
            },

        }


        ko.applyBindings(MonitorRestaurantBody, $("#MonitorRestaurant-part")[0]);
        window.mainModel.totalPage(MonitorRestaurantBody.TotalPage());
        window.mainModel.checkTable('MonitorRestaurantTable');

        $("#selectCity").selectBoxIt().on('open', function () {
            $(this).data("selectBox-selectBoxIt").list.perfectScrollbar();
        });

    });


</script>

<script src="~/Scripts/xenon-custom.js"></script>
